.container-logo {
  max-width: 250px;
  max-height: 250px;
  margin-top: 20px;
}
@media only screen and (max-width: 850px) {
  .container-logo {
    max-width: 200px;
    max-height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .container-logo {
    padding-top: 20px;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
  }
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 850px) {
  .header {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    padding: 0 10px;
    display: block;
  }
}

.title {
  margin-top: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3f6c92;
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (max-width: 850px) {
  .title {
    margin-top: 40px;
    font-size: 2em;
  }
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 20px;
    text-align: center;
  }
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 15px;
  color: #659aba;
}
@media only screen and (max-width: 850px) {
  .text {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .text {
    font-size: 1em;
    margin-bottom: 20px;
  }
}

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider-list {
  display: flex;
  animation: cambio 20s infinite alternate;
  width: 400%;
  height: 400px;
}

.list__item {
  width: 100%;
  list-style: none;
}

.list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  object-position: 0 -200px;
}
@media only screen and (max-width: 850px) {
  .img1 {
    object-position: 0 -100px;
  }
}
@media only screen and (max-width: 600px) {
  .img1 {
    object-fit: cover;
    object-position: center;
  }
}

.img2 {
  object-position: 0 -100px;
}
@media only screen and (max-width: 850px) {
  .img2 {
    object-position: 0 -50px;
  }
}
@media only screen and (max-width: 600px) {
  .img2 {
    object-fit: cover;
    object-position: center;
  }
}

.img3 {
  object-position: 0 -200px;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.main {
  background-color: #f5f5f5;
  padding-top: 70px;
  padding-bottom: 50px;
}

.subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #3f6c92;
  text-align: center;
  margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .subtitle {
    font-size: 1.7em;
  }
}

.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 20px;
  padding: 0 100px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 850px) {
  .article {
    display: block;
    padding: 0 150px;
  }
}
@media only screen and (max-width: 600px) {
  .article {
    padding: 0 40px;
  }
}

.content-section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #c4c4c4;
  margin-bottom: 50px;
  transition: all 0.25s;
}
.content-section:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.section__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  color: #659aba;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .section__subtitle {
    font-size: 1.2em;
  }
}

.section__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 20px 20px;
  color: #757575;
  text-align: center;
  line-height: 1.4em;
}
@media only screen and (max-width: 1200px) {
  .section__text {
    font-size: 1em;
  }
}

.section__img {
  width: 100%;
  object-position: 0 -50px;
}
@media only screen and (max-width: 850px) {
  .section__img {
    object-position: 0 -60px;
  }
}
@media only screen and (max-width: 600px) {
  .section__img {
    object-position: 0 -40px;
  }
}

.section__img2 {
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .section__img2 {
    object-position: 0 0;
  }
}
@media only screen and (max-width: 850px) {
  .section__img2 {
    object-position: 0 -20px;
  }
}
@media only screen and (max-width: 600px) {
  .section__img2 {
    object-position: 0 0;
  }
}

.container-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
@media only screen and (max-width: 1200px) {
  .container-img {
    height: 100px;
  }
}
@media only screen and (max-width: 850px) {
  .container-img {
    height: 150px;
  }
}
@media only screen and (max-width: 600px) {
  .container-img {
    height: 100px;
  }
}

.subtitleInfo {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #3f6c92;
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .subtitleInfo {
    font-size: 1.7em;
  }
}

.textInfo {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #757575;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 850px) {
  .textInfo {
    padding: 0 50px;
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 600px) {
  .textInfo {
    font-size: 1em;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 70%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
}
.info:hover {
  background-color: #659aba;
}
.info:hover .section__text {
  color: #fff;
}
.info:hover .link {
  color: #3f6c92;
}
.info:hover .section__subtitle {
  color: #2f3945;
}
.info:hover .button {
  background-color: #fff;
}
@media only screen and (max-width: 850px) {
  .info {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .info {
    display: block;
  }
}

.info-img {
  width: 200px;
  height: 200px;
  display: flex;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .info-img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.info__img {
  width: 100%;
  height: 100%;
}

.button {
  width: 280px;
  height: 50px;
  border-radius: 40px;
  background-color: #3f6c92;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
}
@media only screen and (max-width: 600px) {
  .button {
    width: 250px;
  }
}

.link {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #757575;
  color: #fff;
}
.link:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .link {
    font-size: 0.9em;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: #2f3945;
}

.container-footer {
  max-width: 200px;
  max-height: 150px;
}

.footer__img {
  max-width: 100%;
  max-height: 100%;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #757575;
  text-align: center;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
